@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #000000;
    color: #999999;
}
/*Barra de navegacion*/
header {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
    z-index: 100;
}

.logo {
    display: flex;
    gap: 15px;
}
.logo h1 {
    color: #002143;
    font-size: 30px;
    font-weight: 800;
}
.logo h1 span {
    color: #0300b3;
}

nav {
    display: flex;
    gap: 40px;
}
nav a {
    text-decoration: none;
    color: #999999;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover {
    color: white;
}

input {
    display: none;
}
@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 100px;
        background: #1a1a1a;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    }
    nav a:nth-child(1) {
        margin-top: 50px;
    }

    label {
        width: 45px;
        height: 30px;
        position: relative;
    }
    label div {
        width: 100%;
        height: 5px;
        background: #312ECB;
        position: absolute;
        transform: translateY(-50%);
        border-radius: 99px;
        transition: 0.3s;
        transform: scale(1);
    }
    label div:nth-child(1) {
        top: 0;
    }
    label div:nth-child(2) {
        top: 50%;
    }
    label div:nth-child(3) {
        top: 100%;
    }

    input:checked + header nav {
        height: 100vh;
    }
    input:checked + header label div:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }
    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }
}
#caja1{
    column-count: 3;
}
#caja1 iframe{
    width: 300px;
    height: 300px;
    padding-left: 25px;
}
table{
    margin:auto;
    text-align: center;
    /*border: 3px solid black;*/
}
#imgenes{
    width: 170px;
    height: 140px;
    border: none;
    opacity: 0.8;  
    /*object-fit: cover;*/
    transition: .5s ease;
}
#imgenes:hover{
    width: 260px;
    height: 240px;
    cursor:pointer;
    opacity: 1;
    filter: contrast(150%);
    
}

footer ul{
    list-style: none;
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background-color: #999999;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-link{
    width: 25%;
    padding: 0 15px;
}
.footer-link h4{
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px;
   padding-bottom: 10px;
   display: inline-block;
}
.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: antiquewhite;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-link ul li a:hover{
    color: #0300b3;
    padding-left: 6px;
} 
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.social-link a:hover{
    background-color: #002143;
}
@media(max-width: 500px){
    .footer-row{
        text-align: center;
    }
    .footer-link{
        width: 100%;

    }
}