#hola{
    width: 300px;
    height: 100px;
    background-color: aqua;
    border-radius: 20px;
    color: brown;
    font-size: 30px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    text-align: center;
    margin: 11%;
}

#hola:hover{
    background-color: blue;
    border-radius: 20px 0px 20px 0px;
}